<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xiaoe.shop.sdk.rn">

    <application>

        <activity
            android:name="com.xiaoe.shop.sdk.rn.XEShopActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:hardwareAccelerated="true" />
    </application>
</manifest>